%btn{
    color: #fff;
    font-weight: bold;
    padding: .8rem 1rem;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    opacity: 0.95;
    transition: ease-in-out 300ms; 
    &:hover{
        opacity:1;
    }
}

.btn--dark{
    @extend %btn;
    background-color: $primary-dark;
}

.btn--danger{
    @extend %btn;
    background-color: $primary-danger;
}

.btn--success{
    @extend %btn;
    background-color: $primary-success;
}

.btn--outline-success, .btn--outline-danger, .btn--outline-dark, 
.btn--outline-light{
    @extend %btn;
    background: transparent;
}

.btn--outline-success{
    border: 2px solid $primary-success;
    color: $primary-success;
    &:hover{
        color: #fff;
        background: $primary-success;
    }
}

.btn--outline-danger{
    border: 2px solid $primary-danger;
    color: $primary-danger;
    &:hover{
        color: #fff;
        background: $primary-danger;
    }
}