%input{
    padding: 1rem 1.5rem;
    box-shadow: inset 0px 0px 0px 0px $primary-dark;
    border: 1px solid lighten($primary-dark, 50%);
    outline: none;
    &:focus{
        outline: none;
    }
    &:hover{
        border: 1px solid lighten($primary-success, 10%);
    }
}

%select{
    display: block;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid lighten($primary-dark, 50%);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}