$primary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$primary-dark: #0f0f0f;
$primary-light: lighten($primary-dark, 75%);
$primary-success: #28a745;
$primary-danger: #dc3545;
$primary-brand: coral;

// Margins and Padding 
$spaceamounts : (1,2,3,4,5);
@each $space in $spaceamounts{
    .m-#{$space}{
        margin: #{$space}rem;
    }

    .mx-#{$space}{
        margin: 0 #{$space}rem;
    }

    .my-#{$space}{
        margin: #{$space}rem 0;
    }

    .p-#{$space}{
        padding: 0 #{$space}rem;
    }

    .px-#{$space}{
        padding: 0 #{$space}rem;
    }

    .py-#{$space}{
        margin: #{$space}rem 0;
    }
}