@import './global';
@import './forms';
@import './buttons';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    font-family: $primary-font;
    background-color: lighten($primary-dark, 90%);
}

section{
    margin: 1rem 0;
    h1,h2,h3,h4,h5,h6{
        margin: .5rem auto;
    }
}

.container{
    width: 70%;
    margin: 3rem auto;
}

.input__group{
    display: flex;
    align-content: stretch;
    width: 100%;
    
    &>input{
        flex: 1 0 auto;
        @extend %input;
    }

    &>select{
        @extend %select;
    }

    &>button{
        padding: 0 2rem;
    }
}


a{
    text-decoration: none;
}

nav{
    margin-top: 2rem;
    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }

    li{
        width: 100%;
        a{
            color: $primary-dark;
        }

        .tablink{
            text-align: center;
            padding: .5rem 0 .5rem 0;
            border-bottom: 6px solid $primary-light;

            &:hover, &.active{
                border-bottom-color: $primary-success;
                background-color: lighten($primary-dark, 80%);
            }
        }


    }
}

.tab__content{
    display: none;
    padding: 2rem;
    border: 1px solid lighten($primary-dark, 50%);
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
    background-color: #fff;
    box-shadow: 1px 1px 5px lighten($primary-dark, 80%);
    &.active{
        display: block;
    }

    button{
        border-radius: 5px;
    }

    .input__group{
        margin: 1rem 0;
        input,button{
            border-radius: 5px;
        }
        input{
            padding: .6rem;
            margin: 0 .1rem;
            border-width: 2px;
        }
        button{
            margin: 0 .1rem;
        }
    }
}

.response__container{
    background-color: #fff;
    box-shadow: 1px 1px 5px lighten($primary-dark, 80%);
    h2 {
        margin: .5rem auto;
    }

    .response__placeholder,.response__networkerror{
        padding: 2rem;
        border: 1px solid lighten($primary-dark, 50%);
        border-radius: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .response__networkerror{
        display: none;
        color: crimson;
        border: 1px solid crimson;
    }

    .response{
        display: none;
        .response__desc{
            display: flex;
            padding: 1rem;
            border-bottom: 1px solid lighten($primary-dark,60%);
            span{
                padding-inline-end: 2rem;
            }
        }

        h4{
            color: lighten($primary-dark, 40%);
            line-height: 2rem;
        }

        ul{
            display: flex;
            list-style-type: none;
            justify-content: space-around;
        }
    
        li{
            width: 100%;
            a{
                color: $primary-dark;
            }
    
            .tablink{
                text-align: center;
                padding: .5rem 0 .5rem 0;
                border-bottom: 6px solid $primary-light;
    
                &:hover, &.active{
                    border-bottom-color: $primary-success;
                    background-color: lighten($primary-dark, 85%);
                }
            }
        }

        .response__content{
            @extend .tab__content;
            &#headers{
                >div{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: .5rem 2rem;
                }
            }
        }
    }

    img{
        width: 64px;
        height: 64px;
    }
}

@import './mobile';
